@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif !important;
}

:root {
  --bg-color: #f3f0f0;

  /* AZUL */

  --main-color: #1976D2;
  --main-color-20: #1976D220;
  --main-color-40: #1976D240;

  /* VERDE */

  /* --main-color: #19d251;
  --main-color-20: #19d25120;
  --main-color-40: #19d25140; */

  /* LARANJA */

  /* --main-color: #d67a11;
  --main-color-20: #d67a1120;
  --main-color-40: #d67a1140; */
}

html {
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
  color: var(--main-color);
}

.link-active {
  border-right: 1rem solid var(--main-color) !important;
}

.schedule-completed {
  color:  #C0C0C0 !important;
}